/-新版《大学生心理健康教育》期末考试-2024-11-24+18_30.xls
/1.pdf
/11.12单词打卡.xlsx
/1122.xlsx
/1d53e73bd8fb6cfb8246c6be21c8e619.temp
/20210505232021162022802120363484
/20210505232021162022802120363484.zip
/2024年福建大学生工程实践与创新能力大赛安全诚信承诺书(1).pdf
/2024电协题目附件.zip
/2024电子爱好者协会纳新面试题part2(1).pdf
/2024电子爱好者协会纳新面试题part2.pdf
/2024福州大学先进制造学院思政考评文档格式规范.docx
/2024级大学物理实验A上预习材料-A类实验
/2024级大学物理实验A上预习材料-A类实验.rar
/20250411报名汇总 (1).xlsx
/20250411报名汇总.xlsx
/2747b5f88e430452fce24de1c96af6f7.temp
/2_中国国际大学生创新创业大赛（2025）福州大学先进制造学院与海洋学院院赛策划书(4).docx
/3.3 平面.pdf
/354b64417b04cf20f485e671b0338733.jpg
/3_省赛第二轮.xlsx
/4.5.2开展党纪学习教育;开展新生“导行”计划、“新生入学毕业生教育”、爱党爱国教育、爱校荣校 (1).docx
/422 吴语晗.pdf
/422吴语晗.pdf
/422吴语晗（kcl）.pdf
/422吴语晗（rc）.pdf
/422吴语晗（戴维南）.pdf
/5.日常思想政治教育.docx
/5e3582ce-d3ed-473f-a24e-2b762ff74331.jpg
/791e46686532ef81b4292f3c5fc88b92.jpg
/8.7作业.docx
/aDrive-6.8.7.exe
/AI赋能学生技能发展项目.pptx
/amd-software-adrenalin-edition-24.7.1-minimalsetup-240805_web.exe
/Anaconda3-2022.05-Windows-x86_64.exe
/Anaconda3-5.3.1-Windows-x86_64.exe
/ARCHPR压缩包破解工具
/ARCHPR压缩包破解工具.zip
/BaiduNetdisk_7.44.5.2.exe
/BtSoft
/BtSoft.zip
/c25afd51c4140fc12b096ef6e12dfe00.jpg
/Clash.for.Windows.Setup.0.20.39_Opt-1.exe
/Clash.Verge_2.3.1_x64-setup.exe
/clipbucket-master
/clipbucket-master.zip
/desktop.ini
/dotnet-sdk-8.0.121-win-x64.exe
/dotnet-sdk-9.0.306-win-x64.exe
/DownBankwinhex_
/DownBankwinhex_.rar
/e0e83c428bea21b2ceab1be04e6ebd8e.jpeg
/Eovs平台好友申请处理.apk.1
/eovs必胜方案.docx
/eovs省赛.xlsx
/EpicInstaller-19.0.0.msi
/express_win.exe
/fastgithub_win-x64
/FJzfcgpfks.zip
/gbkepcmpjglfonklehdgjnimebhnmlel.zip
/gbkepcmpjglfonklehdgjnimebhnmlel_1.8_chrome.zzzmh.cn.crx
/gbkepcmpjglfonklehdgjnimebhnmlel_1.8_chrome.zzzmh.cn_1.crx
/Git-2.51.0.2-64-bit.exe
/github-recovery-codes.txt
/iKF-V11 Pro（7.1版）-驱动软件.rar
/IROK_Setup_v2.5.7.1_online.exe
/kali-linux-2025.2-vmware-amd64
/kali-linux-2025.2-vmware-amd64.7z
/msys2-x86_64-20250221.exe
/ocs-2.6.7-setup-win-x64.exe
/Psychological+Analysis+of+Tommy+Shelby+in+Peaky+Blinders.pptx
/PTA练习七答案.pptx
/PTA练习五答案.pptx
/pycharm-community-2024.2.1.exe
/python-3.9.11-amd64.exe
/Python学习路线一条龙+by+Jack+Cui.xmind
/QuarkPC_V4.1.0.370_pc_pf30002_(zh-cn)_wp_(Build2217865-250531205652-x64) (1).exe
/SteamSetup.exe
/Stegsolve
/Untitled-1.py
/uv-installer.ps1
/VALORANT_CN_installer_v2.3.1.214.exe
/VSCodeUserSetup-x64-1.93.1.exe
/WPS365ban
/WPS365ban.zip
/w_miaozhuofan_386bce91-e230-484c-ae07-98911ed79495.docx
/w_miaozhuofan_8e30de11-5cf2-4e82-8972-4979fc2d38f9 (1).docx
/w_miaozhuofan_8e30de11-5cf2-4e82-8972-4979fc2d38f9.docx
/_cgi-bin_mmwebwx-bin_webwxgetmsgimg__&MsgID=6417649236742402492&skey=@crypt_ddcdc065_7ee67ee5ad83eb74b1a2c05bc8ad4ac1&mmweb_appid=wx_webfilehelper.jpg
/~$vs必胜方案.docx
/~$申请书格式(2)(1)(1)(2).doc
/“凝智聚力献策有我，青年执言赋能福大”福州大学先进制造学院校园提案大赛策划书.pdf
/“有我！”这是中国青年的答案！.mp4
/“破釜沉舟”计划第五期计划表.docx
/《熵权法在鞋服直播中指标权重计算及应用》 (1).docx
/《熵权法在鞋服直播中指标权重计算及应用》.docx
/【XX学院】合格提案团队成员信息汇总表.xlsx
/【XX学院】提交提案汇总表.xlsx
/【第一组】（1-27）初审评分表 (1).xlsx
/【第一组】（1-27）初审评分表.xlsx
/三角函数1.docx
/习题答案-第03章.pdf
/人民之力：历史长河中的无名巨浪.pptx
/人民书写历史：唯物史观的核心答案.pptx
/人民群众是历史的创造者.docx
/企业运营仿真赛项福建省赛细则.pdf
/先进制造学院+李子梁+关于青少年心理健康动态预警体系建设的建议.zip
/先进制造学院与海洋学院2023级本科生素质拓展测评实施细则（暂行）.pdf
/先进制造学院周文烨13635222553.zip
/先进制造学院李乙15758511824.zip
/先进制造学院李子梁15959185896.zip
/先进制造学院陈昊鸿13960721977.zip
/入党申请书格式(2)(1)(1)(2).doc
/公式(1).xlsx
/公式.xlsx
/初审评分细则.docx
/十五天分数计算题（加减法和乘除法各十道）.docx
/十五天分数计算题（加减法和乘除法各十道）.pdf
/单调性.docx
/双周34节-大学生常见心理问题-2024-11-01+22_16.xls
/双周34节_成绩汇总_2024-11-24 18_29.xls
/合格提案审核.pdf
/在实现中国梦的实践中放飞青春梦想(1).pptx
/在实现中国梦的实践中放飞青春梦想.pptx
/基于地理商圈信息的卷烟盈利通用指数模型研究与应用_刘峰.pdf
/基于电商直播带货效果影响因素分析TJJM20250303014119.doc
/基于电商直播带货效果影响因素分析TJJM20250303014119.pdf
/基本不等式练习题.docx
/基本不等式练习题.pdf
/复盘.pptx
/奇偶性.docx
/安装说明书.txt
/安装说明书_1.txt
/幂函数.docx
/幺幺玖EOVS自动表.xlsx
/幺幺玖通用表格.xlsx
/报名表TJJM20250303014119.docx
/报名表TJJM20250303014119_01.jpg
/报名表范本.docx
/指数与对数运算练习题.pdf
/提案
/提案.zip
/数据测试.xlsx
/文字文稿1(1).docx
/文字文稿1.docx
/新建 Microsoft Word 文档.docx
/星火杯-福州大学-吴语晗-福大第一保枪手-有为青年奋斗日记
/星火杯-福州大学-吴语晗-福大第一保枪手-有为青年奋斗日记.zip
/未命名1(1).pdf
/未命名1.pdf
/未命名文档.docx
/标准_迷你熊猫在手指上打了哈欠_风吹拂熊猫和背景的树_手持镜头.mp4
/校园各方面意见及优先级排序.docx
/校园垃圾分类助手：助力环保公益新实践.pptx
/校园提案大赛
/校园提案大赛.zip
/格式要求.pdf
/模电ch03--双极结型三极管及其放大电路（康华光ch05）3.pdf
/模电ch03--双极结型三极管及其放大电路（康华光ch05）4.pdf
/模电ch04--场效应三极管及其放大电路（康华光04）1-2次课.pdf
/泉州鞋服直播带货效果分析.pdf
/海螺_视频_3d动画风格，画面主_402445573882474503.mp4
/演讲版(1).pptx
/演讲版.pptx
/电子爱好者协会Part2报告Neko v1.0.zip
/福大谢丽聪-5数组.ppt
/福大谢丽聪-6指针.ppt
/福大谢丽聪-7函数.ppt
/福州大学决赛名单.xlsx
/第1章 第1节 集合（学生做题版）.doc
/第1章 第2节 命题及其关系、充分条件与必要条件.doc
/第1章 第3节 简单的逻辑联结词、全称量词与存在量词.doc
/第三节 拉普拉斯定理.pdf
/第四节 克拉默法则.pdf
/素拓分收集说明.docx
/红色电台（第一版）.txt
/职规赛报名步骤.docx
/联想安卓下载
/表示法.docx
/计算表.xlsx
/计算表1107（副本）.xlsx
/计算表1108.xlsx
/计算表修正(1).xlsx
/论文 (1) (1).doc
/论文 (1).doc
/论文 (2).doc
/论文.doc
/论文三.doc
/豆包.png
/豆包插件v1.24.0.zip
/超星学习助手5.6
/超星学习助手5.6.zip
/附件1：案例申报书（模板）.docx
/附件1：案例申报书（模板）.pdf
/附件1：福州大学大学生学科竞赛级别直接认定项目汇总表(1).doc
/附件2：《福建省新时代学校百优温暖集体建设案例申报表》 (1).docx
/附件2：《福建省新时代学校百优温暖集体建设案例申报表》.docx
/附件2：福州大学大学生学科竞赛项目级别认定一览表(1).doc
/附件3：推荐案例汇总表.docx
/附件一：2025年福州市青少年模拟政协提案作品表(1).doc
/集合前三节知识点.docx
/青年者，常为新。新，是什么？.mp4
/面对面.docx
/预计表.xlsx
/预计表（修）升级版 (1).xlsx
/预计表（修）升级版.xlsx
/（24级请假名单）10.24无偿献血科普讲座报名(1).xlsx